header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /*Intencidad de negrita*/
  font-size: 1.1rem;
}
header .logo {
  width: 60px;
  margin-left: 20px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
}
.about-me .content-container {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.about-me .content-container .image-container img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.about-me .content-container .text-container h1 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #333;
}
.about-me .content-container .text-container p {
  margin-bottom: 20px;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}
.about-me .content-container .text-container .buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}
.about-me .content-container .text-container .buttons button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .about-me {
    padding: 20px;
  }
  .about-me .content-container {
    max-width: 90%;
  }
  .text-container h1 {
    font-size: 1.5rem;
  }
  .text-container p {
    font-size: 0.9rem;
  }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.timeline .timeline-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #007bff;
}
.timeline:before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #00adb5;
  top: 80px;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}
.timeline .timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}
.timeline .timeline-item .content {
  padding: 20px;
  background-color: #393e46;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.timeline .timeline-item .content button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00adb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.timeline .timeline-item .content button:hover {
  background-color: #007f8c;
}
.timeline .timeline-item:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #00adb5;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}
.timeline .timeline-item.left {
  left: 0;
  text-align: right;
}
.timeline .timeline-item.left:before {
  right: -12px;
}
.timeline .timeline-item.right {
  left: 50%;
}
.timeline .timeline-item.right:before {
  left: -12px;
}
@media (max-width: 768px) {
  .timeline .timeline-item {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .timeline .timeline-item.right {
    left: 0;
  }
  .timeline .timeline-item:before {
    left: 50%;
    margin-left: -12px;
  }
}

.projects {
  padding: 40px 0;
  text-align: center;
  background-color: #747977;
}
.projects .projects-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #00adb5;
}
.projects .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .card {
  background-color: #393e46;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.projects .card:hover {
  transform: translateY(-10px);
}
.projects .card .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.projects .card .card-content {
  padding: 20px;
}
.projects .card .card-content h3 {
  font-size: 1.5rem;
  color: #00adb5;
}
.projects .card .card-content p {
  font-size: 1rem;
  color: #eeeeee;
}
.projects .card .card-content .card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.projects .card .card-content .card-buttons a {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}
.projects .card .card-content .card-buttons .github-btn {
  background-color: #222831;
  padding: 10px;
}
.projects .card .card-content .card-buttons .github-btn img {
  width: 24px;
  height: 24px;
}
.projects .card .card-content .card-buttons .github-btn:hover {
  background-color: #00adb5;
}
.projects .card .card-content .card-buttons .web-btn {
  background-color: #00adb5;
  font-size: 1rem;
}
.projects .card .card-content .card-buttons .web-btn:hover {
  background-color: #007f8c;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.contact-form .form-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.contact-form .form-container h2 {
  margin-bottom: 20px;
  color: #333;
}
.contact-form .form-container form .form-group {
  margin-bottom: 15px;
  text-align: left;
}
.contact-form .form-container form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.contact-form .form-container form .form-group input, .contact-form .form-container form .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}
.contact-form .form-container form .form-group input[type=file] {
  padding: 0;
}
.contact-form .form-container form .form-group textarea {
  resize: none;
}
.contact-form .form-container form .form-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.contact-form .form-container form .form-group button:hover {
  background-color: #0056b3;
}

footer {
  position: relative;
  width: 100%;
  background-color: #3586ff;
  min-height: 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
footer .social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  z-index: 1001;
}
footer .social-icon li {
  list-style: none;
}
footer .social-icon li a {
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social-icon li a:hover {
  transform: translateY(-10px);
}
footer p {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  z-index: 1001;
}
footer .waves .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/wave.png");
  background-size: 1000px 100px;
}
footer .waves .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .waves .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .waves .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .waves .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .about-me {
    padding: 20px;
  }
  .about-me .content-container {
    max-width: 90%;
  }
  .text-container h1 {
    font-size: 1.5rem;
  }
  .text-container p {
    font-size: 0.9rem;
  }
}
@media (min-width: 576px) {
  .form-container {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .form-container {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .form-container {
    max-width: 900px;
  }
}
@media (min-width: 576px) {
  .content-container {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .content-container {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .content-container {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .content-container {
    max-width: 800px;
  }
}

/*# sourceMappingURL=styles.css.map */
