@import "./utilidades/variables";

body {
    margin: 0;
    background-color: $bg-navbar !important;
}

.color-a {
    color: wheat !important;
    font-size: 18px;
    &:hover{
        color: yellow;
    }
}

.dropdown-item:hover{
    background-color: blue !important;
}