@import "./utilidades/variables";


header {
    font-family: $font-stack; 
    font-weight: 600; /*Intencidad de negrita*/
    font-size: 1.1rem;
    .logo{
        width: 60px;
        margin-left: 20px;
    }
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.3vh;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  .content-container {
      background: $bg-container;
      backdrop-filter: blur(5px);
      border-radius: 15px;
      padding: 20px;
      text-align: center;
      max-width: 350px;
      width: 100%;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      .image-container {
          img {
              width: 100%;
              border-radius: 50%;
              margin-bottom: 15px;
          }
      }
      .text-container {
          h1 {
              margin-bottom: 10px;
          }
          p {
              margin-bottom: 20px;
              color: #333;
          }
          .buttons {
              button {
                  padding: 10px 20px;
                  margin: 5px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  background-color: $bg-button;
                  color: white;
                  transition: background-color 0.3s ease;
                  &:hover {
                      background-color: $bg-button-hover;
                  }
              }
          }
      }
  }
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    .timeline-title {
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 40px; // Añade un margen inferior al título para separar la línea
      color: $bg-button;
    }
    &:before {
      content: "";
      position: absolute;
      width: 4px;
      background-color: #00adb5;
      top: 80px; // Ajusta la posición top para que la línea comience después del título
      bottom: 0;
      left: 50%;
      margin-left: -2px;
    }
    .timeline-item {
      padding: 20px 40px;
      position: relative;
      width: 50%;
      .content {
        padding: 20px;
        background-color: #393e46;
        color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        button {
          margin-top: 20px;
          padding: 10px 15px;
          background-color: #00adb5;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: #007f8c;
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: white;
        border: 4px solid #00adb5;
        top: 20px;
        border-radius: 50%;
        z-index: 1;
      }
      &.left {
        left: 0;
        text-align: right;
        &:before {
          right: -12px;
        }
      }
      &.right {
        left: 50%;
        &:before {
          left: -12px;
        }
      }
    }
  
    @media (max-width: 768px) {
      .timeline-item {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
        &.right {
          left: 0;
        }
        &:before {
          left: 50%;
          margin-left: -12px;
        }
      }
    }
  }
  
.projects {
    padding: 40px 0;
    text-align: center;
    background-color: #747977;
    .projects-title {
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: #00adb5;
    }
    .projects-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .card {
      background-color: #393e46;
      border-radius: 8px;
      overflow: hidden;
      margin: 15px;
      max-width: 300px;
      text-align: left;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-10px);
      }
      .card-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .card-content {
        padding: 20px;
        h3 {
          font-size: 1.5rem;
          color: #00adb5;
        }
        p {
          font-size: 1rem;
          color: #eeeeee;
        }
        .card-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          a {
            display: inline-flex;
            align-items: center;
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            transition: background-color 0.3s ease;
          }
          .github-btn {
            background-color: #222831;
            padding: 10px;
            img {
              width: 24px;
              height: 24px;
            }
            &:hover {
              background-color: #00adb5;
            }
          }
          .web-btn {
            background-color: #00adb5;
            font-size: 1rem;
  
            &:hover {
              background-color: #007f8c;
            }
          }
        }
      }
    }

  .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Altura completa de la pantalla
    background-color: #f4f4f4;
    .form-container {
        background: rgba(255, 255, 255, 0.1); // Fondo semitransparente para efecto glass
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 15px;
        max-width: 500px;
        width: 100%;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        h2 {
            margin-bottom: 20px;
            color: #333;
        }
        form {
            .form-group {
                margin-bottom: 15px;
                text-align: left;

                label {
                    display: block;
                    margin-bottom: 5px;
                    color: #333;
                }
                input, textarea {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    font-size: 16px;
                    background-color: rgba(255, 255, 255, 0.8);
                }
                input[type="file"] {
                    padding: 0;
                }
                textarea {
                    resize: none;
                }
                button {
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    }
}

footer {
  position: relative;
  width: 100%;
  background-color: #3586ff;
  min-height: 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    z-index: 1001;
    li{
      list-style: none;
      a{
        font-size: 2em;
        color: #ffff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        &:hover{
          transform: translateY(-10px);
        }
      }
    }
  }
  p{
    color: #ffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    z-index: 1001;
  }
  .waves{
    .wave {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/wave.png');
      background-size: 1000px 100px;
      &#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWave 4s linear infinite;
      }
      &#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animateWave_02 4s linear infinite;
      }
      &#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWave 3s linear infinite;
      }
      &#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animateWave_02 3s linear infinite;
      }
    }
  }
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px; // Debe coincidir con el tamaño del background en la clase wave
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px; // Debe coincidir con el tamaño del background en la clase wave
  }
  100% {
    background-position-x: 1000px;
  }
}

    @media (max-width: 768px) {
      .projects-container {
        flex-direction: column;
        align-items: center;
      }
      .card {
        width: 90%;
      }
    }
  }
  





















































@media (max-width: 768px) {
    .about-me {
        flex-direction: column; // Cambiar a columna en pantallas pequeñas
        text-align: center;
        .text-container {
          padding-left: 0;
          margin-top: 20px;
          h1 {
            font-size: 2rem; // Ajustar tamaños
          }
          p {
            font-size: 1rem;
          }
          .buttons {
            flex-direction: column; // Botones en una columna
            gap: 15px;
            button {
              width: 100%; // Hacer los botones más grandes en móviles
            }
          }
        }
        .image-container {
          img {
            max-width: 150px; // Hacer la imagen más pequeña en pantallas chicas
          }
        }
    }
    .form-container {
      max-width: 700px;
  }
}

// Media queries para responsive
@media (min-width: 576px) {
  .form-container {
      max-width: 600px;
  }
}

@media (min-width: 992px) {
  .form-container {
      max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .form-container {
      max-width: 900px;
  }
}


// Media queries para diseño responsive
@media (min-width: 576px) {
  .content-container {
      max-width: 500px;
  }
}

@media (min-width: 768px) {
  .content-container {
      max-width: 600px;
  }
}

@media (min-width: 992px) {
  .content-container {
      max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .content-container {
      max-width: 800px;
  }
}

